em {
  background:#ffd;
  font-style:normal;
}

a {
  color:#244E97;
}

.fix {
    position:fixed;
}

@media only screen and (max-width:640px),
@media only screen and (max-height:600px) {
    .fix { position:relative; }
}

.h2break h2 {
    background:#eef;
    padding:20px;
    margin-top:20px;
}

.h2break h2 a {
    text-decoration:none;
    color:#000;
}

.h2break h2 a:after {
    content:' #';
    color:#aaa;
}

.h2break h2 a:hover:after {
    color:blue;
}

.h2break h2:first-child {
    margin-top:0;
}

.browser-list li a {
    font-size:20px;
}

.browser-list .logo {
    width:25px;
    height:25px;
}

img {
    max-width:100%;
    height:auto;
}

img.logo {
    vertical-align:middle;
    width:50px;
    height:50px;
    margin-right:10px;
}
