em {
  background:#ffd;
  font-style:normal;
}

a {
  color:#244E97;
}

.h2break h2 {
    background:#eef;
    padding:20px;
    margin-top:20px;
}

.h2break h2:first-child {
    margin-top:0;
}

.browser-list li a {
    font-size:20px;
}
